body
{
    background-color: rgb(243, 243, 243);
    font-family: sans-serif;
}

.main-title
{
    font-size: 3em;
    font-weight: 700;
    color: rgb(68, 68, 68);
    padding-left: 39%;
    padding-bottom: 2%;
}

.center
{
    padding-top: 1%;
}

.container
{
    padding: 1%;
    margin-top: 1%;
    width: 50%;
    height: 100%;
    margin-left: 25%;
    @extend .glass-effect;
}

.container-task{
    &.done 
    {
        background: rgba(106, 213, 102, 0.856) !important;
    }
    &.inprogress
    {
        background: rgba(254, 228, 111, 0.932) !important;
    }
    &.notstarted
    {
        background: rgba(142, 174, 231, 0.932) !important;
    }
    background: rgba(239, 100, 172, 0.454) !important;
    @extend .container;
    @extend .task-text;
}
.task-text
{
    text-align: center;
    font-size: 1.2em;
    word-wrap: break-word;
}
/*.task-text:hover
{
    text-decoration: line-through;
}*/
.glass-effect
{
    background: rgba(122, 2, 61, 0.22);
    border-radius: 16px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.01);
    backdrop-filter: blur(8.5px);
    -webkit-backdrop-filter: blur(8.5px);
    border: 1px solid rgba(122, 2, 61, 0.04);
}

.button-aligment
{
    padding-top: 5px;
    padding-bottom: 2px;
}

.button-aligment button
{
    margin: 2px !important;
}